@media (max-width: 768px) {
    main {
        height: auto;
        flex-direction: column;
        gap: 64px;
    }
    
    .container {
        width: 100%;
        flex-direction: column;
    }

    .img__logo {
        margin: 0;
    }

    .content {
        margin-top: 116px;
    }

    textarea {
        height: 288px;
    }
    
    .output {
        width: 100%;
    }

    .output__imagem {
        display: none;
    }

    .primeira__mensagem {
        margin-top: 0;
    }

    .mensagem {
        text-align: center;
    }

    .btn-copiar{
        margin-top: 32px;
    }
}

@media (max-width: 425px) {

    .btn {
        width: 100%;
    }
}