* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    min-height: 100vh;
    padding: 40px;
}

.container {
    background-color: brown;
    display: flex;
    width: 75%;
    height: 100vh;
}

.img__container {
    background-color: red;
    width: 120px;
    display: flex;
    justify-content: center;
}

.img__logo {
    width: 31px;
    height: 48px;
}

.content {
    background-color: cadetblue;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

textarea {
    font-size: 32px;
    width: 100%;
    height: 50%;
}

.output {
    background-color: darkgray;
    width: 25%;
    height: 100%;
}